<div class="my-3 p-3">
    <form>
        <div class="form-group">
            <label for="nomeInput">ID</label>
            <input [readonly]="true" type="nome" class="form-control" id="nomeInput" placeholder="Digite um nome"
                #nomeInput>
        </div>

        <div class="form-group">
            <label for="nomeInputa">Nome</label>
            <input type="nome" class="form-control" id="nomeInputA" placeholder="Digite um nome" #nomeInputA>
        </div>

        <div class="form-group">
            <label for="nomeInputa">Endereco</label>
            <input type="nome" class="form-control" id="nomeInputA" placeholder="Digite um nome" #nomeInputA>
        </div>

        <div class="form-group">
            <label for="nomeInputa">Cidade</label>
            <input type="nome" class="form-control" id="nomeInputA" placeholder="Digite um nome" #nomeInputA>
        </div>

        <div class="form-group">
            <label for="nomeInputa">Bairro</label>
            <input type="nome" class="form-control" id="nomeInputA" placeholder="Digite um nome" #nomeInputA>
        </div>

        <div class="form-group">
            <label for="nomeInputa">Cep</label>
            <input type="nome" class="form-control" id="nomeInputA" placeholder="Digite um nome" #nomeInputA>
        </div>

        <div class="form-group">
            <label for="nomeInputa">Telefone</label>
            <input type="nome" class="form-control" id="nomeInputA" placeholder="Digite um nome" #nomeInputA>
        </div>

    </form>
    <div class="container d-flex">
        <button type="button" class="btn btn-primary btn-block">Novo</button>
        <button type="button" class="btn btn-primary btn-block">Alterar</button>
        <button type="button" class="btn btn-primary btn-block">Excluir</button>
        <button type="button" class="btn btn-primary btn-block">Procurar</button>
    </div>
</div>